<ion-view view-title="༼ つ ◕_◕ ༽つ Give Dogecoin">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">How it Works</div>
      <div class="item item-body">
        <div>
          Collect dogecoin addresses of persons, projects and organizations you love and like to support on the regular.
          Once a month this app will remind you to send some coins to them.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Add a Dogecoin Address</div>
      <div class="item item-body">
        <button class="button button-block button-orange"  ng-click="scanAddress()">
              Scan Address
        </button>
        <button class="button button-block button-orange"  ng-click="pasteAddress()">
              Paste from Clipboard
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
